*target*
*.war
*.ear
*.class
*.classpath

output/
output/**
output/*


Unity/Temp/UnityLockFile

*.DS_Store

# eclipse specific git ignore
*.pydevproject
.project
.metadata
.metadata/*
.metadata/**
.metadata/**/*
GitAnalyzer/bin
bin/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch





# =============== #
# Unity generated #
# =============== #
Unity/Temp/
Unity/Obj/
Unity/UnityGenerated/
Unity/Library/
Unity/Library/metadata/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Unity/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
